@model Survey
@{
    ViewData["Title"] = "Results";
}

<h1>Submitted Info:</h1>
<p>Name: @Model.Name</p>
<p>Location: @Model.Location</p>
<p>Language: @Model.Language</p>
<p>Number: @Model.Number</p>
<p>Important Date: @Model.Date</p>
<p>Favorite Meal: @Model.Meal</p>
@{
    @if (@Model.Comment != null)
    {
        <p>Comment: @Model.Comment</p>
    }
    else
    {
        <p>Comment: <span style="color: gray;">No comment</span></p>
    }
}
<p>Favorite days:</p>
@{
    List<string> days = new List<string>() {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"};
    <ul>
        @for (int k = 0; k < days.Count; k++)
        {
            if (@Model.Days[k])
            {
                <li>@days[k]</li>
            }
        }
    </ul>
}
<a href="/" class="btn btn-primary">Go back</a>